/* General */

body {
    margin:0;
    padding:0;
    min-height:100vh;
    font-family:'Montserrat', sans-serif;
    background:linear-gradient(to top,#D36135,white); /* degradado de fondo*/

}


/* Index */

.index-contenedor {

    min-height:100vh;
    display:flex;
    flex-direction:column; /* uno debajo del otro*/
    align-items:center;
    justify-content:flex-start;
    padding-top:60px;
}

.index-banner {
    text-align:center;
}

.index-banner img {
    width:180px; /*tamaño logo*/
}

.index-banner h2 {
    margin-top:10px;
    font-size:18px;
    font-weight:300;
    color:#333;

}

.index-botones {
    margin-top:60px;
    display:flex;
    gap:30px;
    justify-content:center;
}

.index-btn {
    background:#016A90;
    color:white;
    padding:16px 45px;
    border-radius:50px;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    box-shadow: /* sombra*/
    0px /*movimiento horizontal*/ 8px /*bajada*/ 15px /*y difuminado*/ rgba(0,0,0,0.25);
    transition:0.3s; /* para que se mueva cuando pones el cursor arriba*/
}

.index-btn:hover {
    transform:translateY(-3px);
}


/* Log in */

.login-contenedor {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}

.login-flecha {
    position:absolute; /* esto es para mover la flecha de forma independiente*/
    top:30px;
    left:35px;
    font-size:30px;
    color:#333;
    text-decoration:none
}

.login-banner {
    text-align:center;
}

.login-banner img {
    width:140px;
}

.login-banner h2 {
    font-size:17px;
    font-weight:300;
    color:#333;
}

.login-formulario {
    width:330px;
    margin-top:35px;
}

.login-formulario h3 {
    text-align:center;
    font-size:22px;
    font-weight:500;
    margin-bottom:30px;
}

.login-formulario label {
    display:block;
    font-size:17px;
    font-weight:500;
    margin-bottom:8px;
}

.login-formulario input {
    width:100%;
    box-sizing:border-box;
    padding:15px;
    margin-bottom:25px;
    border:none;
    border-radius:20px;
    background:white;
    font-family:'Montserrat',sans-serif;
    box-shadow:
    0px 4px 10px rgba(0,0,0,0.12);
}

.login-olvide {
    display:block;
    color:#016A90;
    text-decoration:none;
    font-size:14px;
    margin-bottom:35px;
}

.login-btn {
    display:block;
    margin:auto;
    background:#016A90;
    color:white;
    border:none;
    padding:16px 50px;
    border-radius:50px;
    font-size:18px;
    font-family:'Montserrat',sans-serif;
    cursor:pointer; /* esto es para que el cursor se ponga en manito cuando pase por arriba */
    box-shadow:
    0px 8px 15px rgba(0,0,0,0.25);
}

.login-error {
    text-align:center;
    color:#a00000;
}

/* Panel de administrador */

.panel-header{
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    padding:20px 40px;
}

.panel-logo{
    text-align:center;
}

.panel-logo img{
    width:180px;
}

.panel-perfil{
    justify-self:end;
    width:60px;
    height:60px;
    border-radius:50%;
    background:#f5d3c4;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.panel-perfil i{
    color:#016A90;
    font-size:26px;
}

.panel-navbar{
    width:100%;
    background:rgba(1,106,144,.75);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:15px 0;
    backdrop-filter:blur(5px);
}

.panel-navbar a{
    text-decoration:none;
    color:white;
    font-weight:500;
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 18px;
    border-radius:30px;
}

.panel-activo{
    background:#d8e5ea;
    color:#016A90 !important;
}

.panel-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:40px;
}

.panel-bienvenida{
    color:#D36135;
    font-size:38px;
    font-weight:700;
    margin-bottom:40px;
}

.panel-alertas{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.panel-alerta{
    width:80%;
    max-width:700px;
    background:#E5E5E5;
    border-radius:20px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.panel-icono{
    color:#D36135;
    font-size:32px;
}

.panel-alerta p{
    margin:5px 0 0 0;
    color:#333;
}
    /* PANEL INQUILINO*/
.panel-header{
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    padding:20px 40px;
    background:white;
}

.panel-logo{
    text-align:center;
}

.panel-logo img{
    width:170px;
}

.panel-perfil{
    justify-self:end;
    width:55px;
    height:55px;
    border-radius:50%;
    background:#F6D9CB;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    cursor:pointer;
}

.panel-perfil i{
    color:#016A90;
    font-size:24px;
}

.nav-inquilino{
    background:#DCE5E9;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:14px 0;
}

.nav-inquilino a{
    text-decoration:none;
    color:#016A90;
    font-size:14px;
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 18px;
    border-radius:25px;
    transition:.3s;
}

.nav-inquilino a:hover{
    background:#C5D7DF;
}

.nav-inquilino .activo{
    background:#BDD3DC;
    font-weight:600;
}

/* contenedor */

.contenedor{
    width:90%;
    max-width:1100px;
    margin:35px auto;
}

.contenedor h2{
    text-align:center;
    color:#D36135;
    font-size:42px;
    margin-bottom:40px;
}

/* tarjetas */

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:18px;
}

.card{
    background:#F7E1D8;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,.12);
}

.card h3{
    margin:0;
    background:#E8E3E0;
    text-align:center;
    padding:12px;
    font-size:22px;
    color:#222;
}

.card p{
    padding:6px 20px;
    color:#333;
    font-size:18px;
}

/* Notisficaciones */

.notificaciones{
    margin-top:22px;
}

.notificaciones h3{
    text-align:left;
    padding-left:20px;
}

.notificaciones p{
    background:#FFF8E5;
    border-left:5px solid #F2A900;
    padding:15px;
    border-radius:10px;
    margin:15px;
}
